/*body {*/
    /*background: #b0b0b0;*/


/*}*/

/*table{*/
    /*vertical-align: middle;*/
    /*color: #000000;*/
    /*background: #727272;*/
    /*border: 1px solid black;*/


/*}*/


/*td {*/
    /*color: #000000;*/
    /*background: #b0b0b0;*/
    /*border: 1px solid black;*/
/*}*/



.error {
    color: #ff1400;
    font-size: 15px;
}

.site-wrapper {
    left: 50%;
    margin-left: -450px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    width: 900px;
    height: 100%;
    background-color: #F5EDE3;
    border-left: 1px solid #BAA68E;
    border-right: 1px solid #BAA68E;
}





